<div class="centercolumn">

<!-- <input type="checkbox" ng-model="recherche.classeStandard.modeoffre"  ng-true-value="'Achat'" ng-false-value="''" />Acheter -->
<!-- <input type="checkbox" ng-model="recherche2.classeStandard.modeoffre"  ng-true-value="'Location'" ng-false-value="''" />Louer -->

<div class="form-group">
	<label for="exampleInputEmail1" class="col-sm-2 control-label" style="font-size: 17px">Type de bien</label>
	<div class="col-sm-2">
		<input type="input" class="form-control" id="type"
			placeholder="type" ng-model="recherche.classeStandard.type">
	</div>
</div>

<div class="form-group">
	<label for="exampleInputEmail1" class="col-sm-2 control-label" style="font-size: 17px">Prestation Acheter ou Louer</label>
	<div class="col-sm-2">
		<input type="input" class="form-control" id="prestation"
			placeholder="prestation" ng-model="recherche.classeStandard.modeoffre">
	</div>
</div>


<div class="form-group">
<label class="col-sm-2 control-label" style="font-size: 17px" >Surface</label> 
<select ng-model="recherche.classeStandard.sufacemin">
<div class="col-sm-2">
	<option value="">Surface minimale</option>
	<option ng-repeat="s in listeSurface | orderBy">{{s}}</option>
	</div>
</select>
</div>
 </br>
<div class="form-group">
<label class="col-sm-2 control-label" style="font-size: 17px">Prix</label>
<select ng-model="recherche.classeStandard.prixmax">
<div class="col-sm-2">
	<option value="">Prix maximal</option>
	<option ng-repeat="p in listePrix | orderBy">{{p}}</option>
	</div>
</select>
</div>
<br/>
<div style="background-color:#F0F8FF; text-align: center">
</br>
<h1 style="color:#6495ED; text-align: center">Liste des biens immobiliers</h1>

<br />

<div align="center" class="table-responsive">

	<table class="table table-hover" style="text-align: center; font-size: 15px">

		<tr>
		<th style="text-align: center;">Photo</th>
			<th style="text-align: center;">Type</th>
			<th style="text-align: center;">Offre</th>
			<th style="text-align: center;">Adresse</th>
			<th style="text-align: center;">Prix</th>
			<th style="text-align: center;">Surface</th>
			<th style="text-align: center;">Visualiser le bien</th>
		</tr>

		<tr ng-repeat="bi in listeBi | filter : recherche | filter : recherche2">
		<td><img ng-src="data:image/JPEG;base64,{{bi.photoBI}}" width="200"/></td>
			<td>{{bi.classeStandard.type}}</td>
			<td>{{bi.classeStandard.modeoffre}}</td>
			<td>{{bi.adresse.numero}} {{bi.adresse.rue}}, {{bi.adresse.codePostal}} {{bi.adresse.ville}}</td>
			<td>{{bi.prix}}</td>
			<td>{{bi.classeStandard.sufacemin}}</td>
			<td><a ng-click="afficherBi(bi)"><span
					class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
		</tr>

	</table>

</div>


</div>

</div>