
<h1 style="text-align: center;color:purple">Ajouter un Proprietaire</h1>

<form>
nom: <input type="text" ng-model="proprietaire.nom"></input>
codePostal: <input type="text" ng-model="proprietaire.adresse.codePostal"></input>
numero: <input type="text" ng-model="proprietaire.adresse.numero"></input>
rue: <input type="text" ng-model="proprietaire.adresse.rue"></input>
ville: <input type="text" ng-model="proprietaire.adresse.ville"></input>
telPerso: <input type="text" ng-model="proprietaire.telPerso"></input>
telPro: <input type="text" ng-model="proprietaire.telPro"></input>
lienGoogleMap : <input type="text" ng-model="proprietaire.lienGoogleMaps"></input>
<button ng-click="ajouter()">Ajouter</button>
</form>

