<nav class="navbar navbar-inverse" class="header">

	<ul class="nav nav-tabs">
		<li><a href="#!listevi"><span
				class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>

		<li class="dropdown"><a href="#!addvi" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Propriétaires<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllProp">Liste des propriétaires</a></li>
				<li><a href="#!searchProp">Rechercher un propriétaire</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addProp">Ajouter</a></li>
				<li><a href="#!updateProp">Modifier</a></li>
			</ul>
		</li>

		<li class="dropdown"><a href="#!addvi" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Clients<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllClient">Liste des clients</a></li>
				<li><a href="#!searchClient">Rechercher un client</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addClient">Ajouter</a></li>
				<li><a href="#!updateClient">Modifier</a></li>
			</ul>
		</li>

		<li class="dropdown"><a href="#!addvi" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Contrats<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllContrat">Liste des contrats</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addContrat">Ajouter</a></li>
				<li><a href="#!updateContrat">Modifier</a></li>
			</ul>
		</li>
		
		<li><a href="#!findAllBi">Biens immobiliers</a></li>

		<li><a href="#!findAllBi2"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>

	</ul>
</nav>

<br/>

<h1 style="text-align: center; color: navy;">
	<i>Ajouter une visite</i>
</h1>

<form class="form-horizontal">

	<div class="form-group">
		<label for="iddatevisite" class="col-sm-2 control-label">Date de Visite</label>
		<div class="col-sm-10">
			<input type="date" class="form-control" id="iddatevisite" placeholder="Datevisite" ng-model="Visite.datevisite">
		</div>
	</div>
	<div class="form-group">
		<label for="idheure" class="col-sm-2 control-label">Heure de visite</label>
		<div class="col-sm-10">
			<input type="time" class="form-control" id="idHeure" placeholder="Heure" ng-model="Visite.heure">
		</div>
	</div>
	<div class="form-group">
		<label for="idbienImmo" class="col-sm-2 control-label">Id du bien</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idbienImmo" placeholder="bienImmo" ng-model="Visite.bienImmo.id_bi">
		</div>
	</div>
	<div class="form-group">
		<label for="idclient" class="col-sm-2 control-label">Client</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="client" placeholder="client" ng-model="Visite.client.id">
		</div>
	</div>
	<div class="form-group">
		<label for="idconseillerimmobilier" class="col-sm-2 control-label">Conseiller Immo</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="conseillerimmobilier" placeholder="conseillerimmobilier" ng-model="Visite.conseillerimmobilier.id">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button ng-click="ajoutervisite()" class="btn btn-default">Ajouter</button>
		</div>
	</div>
</form>