<nav class="navbar navbar-inverse" class="header">

	<ul class="nav nav-tabs">
		<li><a href="#!listevi"><span class="glyphicon glyphicon-home"
				aria-hidden="true"></span></a></li>

		<li class="dropdown"><a href="#!findAllProp" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Propriétaires<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllProp">Liste des propriétaires</a></li>
				<li><a href="#!searchProp">Rechercher un propriétaire</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addProp">Ajouter</a></li>
				<li><a href="#!updateProp">Modifier</a></li>
			</ul>
		</li>

		<li class="dropdown"><a href="#!findAllProp" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Clients<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllClient">Liste des clients</a></li>
				<li><a href="#!searchClient">Rechercher un client</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addClient">Ajouter</a></li>
				<li><a href="#!updateClient">Modifier</a></li>
			</ul>
		</li>

		<li class="dropdown"><a href="#!findAllProp" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Contrats<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllContrat">Liste des contrats</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addContrat">Ajouter</a></li>
				<li><a href="#!updateContrat">Modifier</a></li>
			</ul>
		</li>
		
		<li><a href="#!findAllBi">Biens immobiliers</a></li>
		
		<li><a href="#!findAllBi2"><span class="glyphicon glyphicon-remove"
				aria-hidden="true"></span></a></li>

	</ul>
</nav>

<br/>

<div style="background-color: #F0F8FF">
<br/>
<h1 style="text-align: center; color: purple;background-color: #F0F8FF">Liste des proprietaires</h1>

<br/>

<div align="center" class="table-responsive">

	<table class="table table-hover" style="text-align: center;background-color: #F0F8FF">

		<tr>
			<th style="text-align: center;">#</th>
			<th style="text-align: center;">Nom</th>
			<th style="text-align: center;">Adresse</th>
			<th style="text-align: center;">Téléphone personnel</th>
			<th style="text-align: center;">Téléphone professionnel</th>
			<th style="text-align: center;">Lien</th>
			<th style="text-align: center;">Supprimer | Modifier</th>
			<th style="text-align: center;">Liste des biens immobiliers</th>
		</tr>

		<tr ng-repeat="prop in listeProprietaires">
			<td>{{prop.id}}</td>
			<td>{{prop.nom}}</td>
			<td>{{prop.adresse.numero}} {{prop.adresse.rue}}, {{prop.adresse.codePostal}} {{prop.adresse.ville}}</td>
			<td>{{prop.telPerso}}</td>
			<td>{{prop.telPro}}</td>
			<td>{{prop.lienGoogleMaps}}</td>
			<td><a href="#" ng-click="supprimerLink(prop.id)"><span
					class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> | 
					<a ng-click="modifierLink(prop)"><span
					class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
			<td><a href="#" ng-click="afficherBi(prop.bi)"></a></td>
		</tr>

	</table>
	</div>
</div>