<nav class="navbar navbar-inverse" class="header">

	<ul class="nav nav-tabs">
		<li><a href="#!listevi"><span class="glyphicon glyphicon-home"
				aria-hidden="true"></span></a></li>

		<li class="dropdown"><a href="#!updateProp" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Propriétaires<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllProp">Liste des propriétaires</a></li>
				<li><a href="#!searchProp">Rechercher un propriétaire</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addProp">Ajouter</a></li>
				<li><a href="#!updateProp">Modifier</a></li>
			</ul>
		</li>

		<li class="dropdown"><a href="#!updateProp" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Clients<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllClient">Liste des clients</a></li>
				<li><a href="#!searchClient">Rechercher un client</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addClient">Ajouter</a></li>
				<li><a href="#!updateClient">Modifier</a></li>
			</ul>
		</li>

		<li class="dropdown"><a href="#!updateProp" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Contrats<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllContrat">Liste des contrats</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addContrat">Ajouter</a></li>
				<li><a href="#!updateContrat">Modifier</a></li>
			</ul>
		</li>
		
		<li><a href="#!findAllBi"><span class="glyphicon glyphicon-remove"
				aria-hidden="true"></span></a></li>

	</ul>
</nav>

<br/>

<h1 style="text-align: center; color:purple">Modifier un proprietaire</h1>

<br/>

<form class="form-horizontal">

	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">#</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="id"
				placeholder="id" ng-model="proprietaire.id">
		</div>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Nom</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="nom"
				placeholder="nom" ng-model="proprietaire.nom">
		</div>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Numéro</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="numero"
				placeholder="numéro" ng-model="proprietaire.adresse.numero">
		</div>
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Rue</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="rue"
				placeholder="rue" ng-model="proprietaire.adresse.rue">
		</div>
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Code postal</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="codePostal"
				placeholder="code postal" ng-model="proprietaire.adresse.codePostal">
		</div>
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Ville</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="ville"
				placeholder="ville" ng-model="proprietaire.adresse.ville">
		</div>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Téléphone personnel</label>
		<div class="col-sm-10">
			<input type="tel" class="form-control" id="telperso"
				placeholder="n°tel" ng-model="proprietaire.telPerso">
		</div>
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Téléphone professionel</label>
		<div class="col-sm-10">
			<input type="tel" class="form-control" id="telpro"
				placeholder="n°tel" ng-model="proprietaire.telPro">
		</div>
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1" class="col-sm-2 control-label">Lien GoogleMaps</label>
		<div class="col-sm-10">
			<input type="url" class="form-control" id="GM"
				placeholder="GoogleMaps" ng-model="proprietaire.lienGoogleMaps">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-info" ng-click="modifier()">Modifier</button>
		</div>
	</div>
</form>