<nav class="navbar navbar-inverse" class="header">

	<ul class="nav nav-tabs">
		<li><a href="#!listevi"><span
				class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>

		<li class="dropdown"><a href="#!findAllBi"
			class="dropdown-toggle" data-toggle="dropdown" role="button"
			aria-haspopup="true" aria-expanded="false">Proprietaires<span
				class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllProp">Liste des proprietaires</a></li>
				<li><a href="#!searchProp">Rechercher un proprietaire</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addProp">Ajouter</a></li>
				<li><a href="#!updateProp">Modifier</a></li>
			</ul></li>

		<li class="dropdown"><a href="#!findAllBi"
			class="dropdown-toggle" data-toggle="dropdown" role="button"
			aria-haspopup="true" aria-expanded="false">Clients<span
				class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllClient">Liste des clients</a></li>
				<li><a href="#!searchClient">Rechercher un client</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addClient">Ajouter</a></li>
				<li><a href="#!updateClient">Modifier</a></li>
			</ul></li>

		<li class="dropdown"><a href="#!findAllBi"
			class="dropdown-toggle" data-toggle="dropdown" role="button"
			aria-haspopup="true" aria-expanded="false">Contrats<span
				class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!findAllContrat">Liste des contrats</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addContrat">Ajouter</a></li>
				<li><a href="#!updateContrat">Modifier</a></li>
			</ul></li>

		<li class="dropdown"><a href="#!findAllBi"
			class="dropdown-toggle" data-toggle="dropdown" role="button"
			aria-haspopup="true" aria-expanded="false">Visites<span
				class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!listevi">Liste des visites</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#!addvi">Ajouter</a></li>
				<li><a href="#!modifvi">Modifier</a></li>
				<li><a href="#!suppvi">Supprimer</a></li>
				<li><a href="#!rechvi">Rechercher</a></li>
			</ul></li>

		<li class="dropdown"><a href="#!findAllBi"
			class="dropdown-toggle" data-toggle="dropdown" role="button"
			aria-haspopup="true" aria-expanded="false">Bien Immobiliers<span
				class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!getById">Rechercher par Id</a></li>

			</ul></li>
			
			<li><a href="#!findAllBi2"><span class="glyphicon glyphicon-remove"
				aria-hidden="true"></span></a></li>
</nav>


<form style="background-color: #F0F8FF">
<br/>
Id du bien recherche : <input type="number" ng-model="id"></input>
<button ng-click="rechercherParID()">Rechercher</button>
</form>

<div align="center" class="table-responsive" style="background-color: #F0F8FF">

	<table class="table table-hover" style="text-align: center;">

		<tr>
			<th style="text-align: center;">ID</th>
			<th style="text-align: center;">Type</th>
			<th style="text-align: center;">Offre</th>
			<th style="text-align: center;">Date de disponibilité</th>
			<th style="text-align: center;">Adresse</th>
			<th style="text-align: center;">Code Postal</th>
			<th style="text-align: center;">Ville</th>
			<th style="text-align: center;">Prix</th>
			
		</tr>


		<tr>
			<td>{{propOut.id}}</td>
			<td>{{propOut.classeStandard.type}}</td>
			<td>{{propOut.classeStandard.modeoffre}}</td>
			<td>{{propOut.dateDispo}}</td>
			<td>{{propOut.adresse.numero}} {{propOut.adresse.rue}}</td>
			<td>{{propOut.adresse.codePostal}}</td>
			<td>{{propOut.adresse.ville}}</td>
			<td>{{propOut.prix}}</td>
			
		</tr>

	</table>
<a target="_blank"
						href="https://www.geoportail.gouv.fr/carte?c={{lng}},{{lat}}&z=20&l0=ORTHOIMAGERY.ORTHOPHOTOS::GEOPORTAIL:OGC:WMTS(1)&l1=CADASTRALPARCELS.PARCELS::GEOPORTAIL:OGC:WMTS(1)&permalink=yes"><p>cadastre</p></a>
			
<h1> Plan google Maps </h1>


<img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&markers=color:red%7Clabel:C%7C{{lat}},{{lng}}&zoom=12&size=600x400&key=AIzaSyC0YbBSL7amcTwd3Z-3WgyTPO5LZsI8Ko0"/>



<br/>

</div>